<template>
  <div class="row align-items-center justify-content-between mb-2">
    <div class="col-md-7 d-flex align-items-center">
      <h3 class="title mr-5">Áo sơ mi</h3>
      <div class="filter__radio">
        <input
          id="filter1-0"
          class="sr-only"
          type="radio"
          value="windows"
          v-model="state.selectedRadio"
        />
        <label for="filter1-0">Sơ mi trắng</label>
        <input
          id="filter1-0"
          class="sr-only"
          type="radio"
          value="windows"
          v-model="state.selectedRadio"
        />
        <label for="filter1-0">Sơ mi kẻ</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex justify-content-end">
        <div class="filter d-flex">
          <div class="filter__text">Bộ lọc</div>
          <div class="filter__icon ml-1">
            <font-awesome-icon icon="fa-solid fa-filter" />
          </div>
        </div>
        <div class="sorting d-flex ml-3">
          <div class="sorting__text">Sắp xếp</div>
          <div class="sorting__icon ml-1">
            <font-awesome-icon icon="fa-solid fa-arrow-up-short-wide" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product__list">
    <div class="row">
      <template v-for="item in 8" :key="item">
        <ProductCard
          @click="handleViewDetail()"
          class="col-md-3 col-sm-1 mb-2"
          :name="'Áo sơ mi dài tay'"
          :code="'123'"
          :price="'120044'"
          :img="'https://aristino.com/Data/ResizeImage/images/product/so-mi-dai-tay/1ls07902/ao-so-mi-nam-aristino-1LS07902-06x500x500x4.webp'"
        />
      </template>
    </div>
  </div>
</template>

<script lang="ts">
import ProductCard from "@/components/ProductCard.vue";
import { defineComponent } from "vue";
import { reactive } from "vue";
export default defineComponent({
  components: {
    ProductCard,
  },
  setup() {
    const state = reactive({
      selectedRadio: [],
    });
    return {
      state,
    };
  },
  methods: {
    handleViewDetail() {
      this.$router.push({ name: "productDetail", params: { id: 1 } });
    },
  },
});
</script>

<style scoped>
.filter__radio input:checked + label {
  color: inherit;
}
.filter__radio input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}
</style>
